.name {
  font-family: "Michroma", sans-serif;
  text-align: center;
}

h3 {
  font-family: "Michroma", sans-serif;
}

h4 {
  font-family: "Michroma", sans-serif;
}

ul {
  font-family: "Press Start 2P", system-ui;
  font-weight: 200;
}

p {
  font-family: "Press Start 2P", system-ui;
}

.container{
    display: flex;
}

.left{
background-color: black;
color: green;
padding: 0 20px;
}

.photo img{
    border-radius: 50%;
    padding-top: 20px;
}

.right{
background-color: rgb(11, 5, 182);
color: green;
text-align: center;
}